@charset "UTF-8";

/* Elementos principais */
html, body{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #EBEBEB;
}

main, header{
    margin-left: 5%;
    margin-right: 5%;
}

main{
    background-color: white;
    /* border: blue solid; */
}

form{
    border: yellow solid;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

textarea{
    height: 100px;
}

.form-group{
    width: 65%;
    margin-bottom: 1.25%;
}


.item-obrigatorio{
    color: #ec0909;
}

.btn-primary{
    background-color: #1BB4E8;
    color: white;
    border: #1BB4E8 solid 1px;
    --bs-btn-active-bg: #1BB4E8;
    --bs-btn-active-border-color: #1BB4E8;
    margin-right: 0.5%;
}

.btn-primary:hover{
    background-color: #1a9ac5;
    color: white;
    border: #1BB4E8 solid 1px;
}

#buttons-form{
    margin-top: 1%;
}