/* 
   UNIESP - Centro Universitário
   Tecnologia para Front-End I e Projeto Integrador I
   Autor: Leonardo do Nascimento Peixoto da Silva 
   Matrícula: 2022211510033
*/

@charset "UTF-8";

/* Elementos principais */
html, body{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #EBEBEB;
}

main, header{
    border-left: 5vw solid  #EBEBEB;
    border-right: 5vw solid #EBEBEB;
}

main{
    background-color: white;
}

form{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

textarea{
    height: 100px;
}

footer{
    background-color:  #EBEBEB;
    border-left: 5vw solid #cbcfd3;
    border-right: 5vw solid #cbcfd3; 
    height: 10vh;

}

/*[HEADER] Classes e IDs*/
.bg-color{
    background-color: #21272B;
}

.navbar-brand{
    display: inline-block;
}

.navbar-nav{
    margin-top: 3%;
    display: inline-block;
}

.nav-item{
    color:#1BB4E8;
    display: inline-block;
    width: 125px;
    height: 30px;
    text-align: center;
    margin: 0%;
    border-right: #EBEBEB solid;
    border-width: 0.1px;
}

.nav-link{
    height: 30px;
    color: white;
    font-size: 0.75em;
    padding: 0%;
    padding-top: 4px;
}

.nav-link:hover{
    color: #1BB4E8;
}

.link-ativado{
    color: #1BB4E8;
}

.nav-link:link{
    color: white;
}

.p-brand-texto{
    margin-bottom: 0%;
}

#navbarNav{
    margin-top: 2.5%;
    padding-bottom: 1%;
    width: 85%;
}

#btn-toggler{
    box-shadow: none;
    background-color: #1BB4E8;
    margin-right: 2%;
}

#nav-item-aluguel{
    width: 145px;
}
#nav-item-pagina-inicial{
    width: 135px;
}

#nav-item-contato{
    border:none;
    width: 109px;
}

#col-header-brand-foto{
    margin-top: 5.5%;
    width: 20%;
}

#col-header-brand-texto{
    margin-top: 3.5%;
    margin-left: 5%;
}

#txt-luxo{
    color:#1BB4E8;
    font-size: 1.2em;
}

#txt-aluguel{
    color:#FFFFFF;
    font-size: 1em;

}

/* [MAIN] */
.form-group{
    width: 65%;
    margin-top: 2%;
    margin-bottom: 1.25%;
}

.item-obrigatorio{
    color: #ec0909;
}

.btn-primary{
    background-color: #1BB4E8;
    color: white;
    border: #1BB4E8 solid 1px;
    --bs-btn-active-bg: #1BB4E8;
    --bs-btn-active-border-color: #1BB4E8;
    margin-right: 0.5%;
}

.btn-primary:hover{
    background-color: #1a9ac5;
    color: white;
    border: #1BB4E8 solid 1px;
}

.linha-horizontal{
    background-color: #1BB4E8;
    height: 2px;
}


#boas-vindas{
    color: #21272B;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 2%;
    margin-bottom: 1%;
}

#lh-contato-parte-introdutoria{
    width: 15%;
    margin-top: 0.5%;
    position: absolute;
    left: 42.5%;
}

#buttons-form{
    margin-top: 2.25%;
}

/* [FOOTER]*/
#footer-conteudo{
    padding-top: 2%;
    text-align: center;
}


/* Responsividade */
@media only screen and (max-width: 1200px){
    .form-group{
        width: 80%;
    }
}

@media only screen and (max-width: 991px) {
    
    .nav-item{
        width: 100% !important;
        height: 30px;
        text-align: center;
        margin: 0%;
        border-right: none;
    }
    
    .nav-link{
       height: 30px;
       color: white;
       font-size: 1.25em;
       padding: 0%;
       padding-top: 4px;
       width: calc()
    }

    .link-ativado{
        color: #1BB4E8;
    } 
    
    .navbar-nav{
        width: 100%;
        border-top: 2px solid #1BB4E8;
        margin: 0%! important;
        padding-top: 2%;
    }

    .form-group{
        width: 100%;
    }

}
@media only screen and (max-width: 575px) {
    header, main, footer{
        border: none;
        margin: 0%;
    }
}

@media only screen and (max-width: 316px){
    #buttons-form{
        text-align: center;
    }
    
    #buttons-form-reset{
        margin-top: 3%;
    }
}

@media only screen and (max-width: 309px) {
    #col-header-brand-foto{
        display: none;
    }
}

@media only screen and (max-width: 243px) { 
    #btn-toggler{
        box-shadow: none;
        background-color: #1BB4E8;
        margin-right: 35%;
        margin-left: 35%;
    }    
}



