@charset "UTF-8";

/* Elementos principais */
html, body{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #EBEBEB;
}

main, header{
    border-left: 5vw solid  #EBEBEB;
    border-right: 5vw solid #EBEBEB;
}

main{
    background-color: white;
    padding-bottom: 2%;
}

footer{
    background-color:  #EBEBEB;
    border-left: 5vw solid #cbcfd3;
    border-right: 5vw solid #cbcfd3; 
    height: 10vh;

}

/* Fim - Elementos principais*/

/* Classes modificadas ou criadas */

/* [HEADER]*/
.navbar-brand{
 /* border: chartreuse solid;  */
    display: inline-block;
}

.navbar-nav{
     /* border: chocolate solid;   */
    margin-top: 3%;
    display: inline-block;
    
}

.nav-item{
     /* border: turquoise solid;   */
    color:#1BB4E8;
    display: inline-block;
    width: 170px;
    height: 30px;
    text-align: center;
    margin: 0%;
    border-right: #EBEBEB solid;
    border-width: 0.1px;
}

.nav-ultimo-item{
     /* border: turquoise solid;   */
    color:#1BB4E8;
    display: inline-block;
    width: 160px;
    height: 30px;
    text-align: center;
    margin: 0%;
}

.nav-link{
     /* border: red solid;  */
    height: 30px;
    color: white;
    font-size: 0.9em;
    padding: 0%;
    padding-top: 4px;
}

.nav-link:hover{
    color: #1BB4E8;
}

.link-ativado{
    color: #1BB4E8;
}

.nav-link:link{
    color: white;
}

.p-brand-texto{
    margin-bottom: 0%;
}

/* Fim - [HEADER]*/

/* [MAIN] Seções principais - Destino e Nossas Frotas*/
.secoes-header-color{
    color: #FFFFFF;
    font-size: 1.5em;
    font-style: italic;
    padding-top: 0.20%;
    position: absolute;
    margin-left: 0.3%;
}
/* Fim - [MAIN] Seções principais - Destino e Nossas Frotas*/

/* Ids criados */

/*[HEADER]*/
#navbarNav{
    /* border: #EBEBEB solid; */
    margin-top: 2.5%;
}

#btn-toggler{
    box-shadow: none;
    background-color: #1BB4E8;
    margin-right: 2%;
}

#nav-item-aluguel{
    width: 230px;
}

#col-header-brand-foto{
    margin-top: 5.5%;
    width: 20%;
}

#col-header-brand-texto{
    margin-top: 3.5%;
    margin-left: 5%;
}

#txt-luxo{
    color:#1BB4E8;
    font-size: 1.2em;
}

#txt-aluguel{
    color:#FFFFFF;
    font-size: 1em;

}
/* Fim - [HEADER]*/

/* [MAIN] - Seção introdutória*/

#img-barco-principal{
    /* border: red solid; */
    position: relative; 
    width: 100%;
}

#card-parte-introdutoria{
    background-color: #21272B;
    color: white;
    opacity: 85%;
    position: absolute;
    width: 38%;
    height: 35%;
    top: 63%;
    left: 54%;
    padding-left: 2%;
}

#card-parte-introdutoria-titulo{
    padding-top: 5%;
    padding-left: 3%;
    font-size: 1.7em;
    text-align: left;
    font-style: italic;
    margin-bottom: 3.5%;
    /* border: #1BB4E8 solid; */
}

#card-parte-introdutoria-barco{
    /* border: #C6B07F solid; */
    margin-top: 110%;
    margin-left: 50%;
}

#card-parte-introdutoria-telefone{
    padding-top: 2%;
    margin-right: 20%;
    font-size: 1.2em;
    text-align: justify;
    font-style: italic;
    /* border: #1BB4E8 solid;  */
}

#telefone-destacado{
    color: #C6B07F
}

/* Fim - [MAIN] - Seção introdutória */

#parte-principal{
    margin-top: 2%;
}

#secao-destino{
    margin-bottom: 2%;
}

#secao-destino-header{
    background-color: #1BB4E8;
    margin-bottom: 2.5%;
    /* border: black solid; */
}

#secao-destino-conteudo{
    text-align: justify;
}

#secao-destino-img{
    width: 100%;
}

#secao-nossa-frota-header{
    background-color: #C6B07F;
    margin-bottom: 2.5%;
    /* border: black solid; */

}

#secao-nossa-frota-header-logo{
    margin: 0.48%;
}

#secao-nossa-frota-conteudo{
    text-align: justify;
}


#imagens-secao-nossa-frota-conteudo{
    width: 100%;
    position: left;
}

.col{
    height: 157px;
    width: 100%;
    border: 1px solid #1BB4E8;  
}

.width{
    width: 100%;
    height: 100%;
}