@charset "UTF-8";

/* Elementos principais */
html, body{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #EBEBEB;
}

main, header{
    border-left: 5vw solid  #EBEBEB;
    border-right: 5vw solid #EBEBEB;
}

main{
    background-color: white;
    padding-bottom: 2%;
}

footer{
    background-color:  #EBEBEB;
    border-left: 5vw solid #cbcfd3;
    border-right: 5vw solid #cbcfd3; 
    height: 10vh;

}

/*[HEADER] Classes e IDs*/

.bg-color{
    background-color: #21272B;
}

.navbar-brand{
 /* border: chartreuse solid;  */
    display: inline-block;
}

.navbar-nav{
     /* border: chocolate solid;   */
    margin-top: 3%;
    display: inline-block;
}

.nav-item{
     /* border: turquoise solid;   */
    color:#1BB4E8;
    display: inline-block;
    width: 125px;
    height: 30px;
    text-align: center;
    margin: 0%;
    border-right: #EBEBEB solid;
    border-width: 0.1px;
}

.nav-link{
     /* border: red solid;  */
    height: 30px;
    color: white;
    font-size: 0.75em;
    padding: 0%;
    padding-top: 4px;
}

.nav-link:hover{
    color: #1BB4E8;
}

.link-ativado{
    color: #1BB4E8;
}

.nav-link:link{
    color: white;
}

.p-brand-texto{
    margin-bottom: 0%;
}

#navbarNav{
    /* border: #EBEBEB solid;  */
    margin-top: 2.5%;
    padding-bottom: 1%;
    width: 85%;
}

#btn-toggler{
    box-shadow: none;
    background-color: #1BB4E8;
    margin-right: 2%;
}

#nav-item-aluguel{
    width: 145px;
}
#nav-item-pagina-inicial{
    width: 135px;
}

#nav-item-contato{
    /* border: turquoise solid;   */
    border:none;
    width: 109px;
}

#col-header-brand-foto{
    margin-top: 5.5%;
    width: 20%;
}

#col-header-brand-texto{
    margin-top: 3.5%;
    margin-left: 5%;
}

#txt-luxo{
    color:#1BB4E8;
    font-size: 1.2em;
}

#txt-aluguel{
    color:#FFFFFF;
    font-size: 1em;

}

/* [MAIN] - Seção introdutória - Classes e IDs*/

#img-barco-principal{
    /* border: red solid; */
    position: relative; 
    width: 100%;
}

#card-parte-introdutoria{
    background-color: #21272B;
    color: white;
    opacity: 85%;
    position: absolute;
    width: 38%;
    height: 248px;
    /* top: 63%; */
    top: 57%;
    /* left: 54%; */
    left: 54%;
    padding-left: 2%;
}

#card-parte-introdutoria-titulo{
    padding-top: 5%;
    padding-left: 3%;
    font-size: 1.7em;
    text-align: left;
    font-style: italic;
    margin-bottom: 3.5%;
    /* border: #1BB4E8 solid; */
}

#card-parte-introdutoria-barco{
    /* border: #C6B07F solid; */
    margin-top: 110%;
    margin-left: 50%;
}

#card-parte-introdutoria-telefone{
    padding-top: 2%;
    margin-right: 20%;
    font-size: 1.21em;
    text-align: justify;
    font-style: italic;
}

#telefone-destacado{
    color: #C6B07F;
}

/* [MAIN] Seções principais - Destino e Nossas Frotas - Classes e IDs*/

.secoes-header-color{
    color: #FFFFFF;
    font-size: 1.5em;
    font-style: italic;
    padding-top: 0.20%;
    position: absolute;
    margin-left: 0.3%;
}

.secao-principal-conteudo-titulo{
    margin-bottom: 2%;
}

.secao-principal-conteudo-paragrafo{
    margin-bottom: 4%;
}

#parte-principal{
    margin-top: 2%;
}

#secao-destino{
    margin-bottom: 2%;
}

#secao-destino-header{
    background-color: #1BB4E8;
    margin-bottom: 4%;
    /* border: black solid; */
}

#secao-destino-conteudo{
    text-align: justify;
}

#secao-destino-img{
    width: 100%;
}

#secao-nossa-frota-header{
    background-color: #C6B07F;
    margin-bottom: 4%;
}

#secao-nossa-frota-header-logo{
    margin: 0.48%;
}

#secao-nossa-frota-conteudo{
    text-align: justify;
}

#imagens-secao-nossa-frota-conteudo{
     width: 100%;  
}

#imagens-secao-nossa-frota-conteudo .col{
    border: 1px solid rgb(255, 255, 255); 
    padding: 0%;
    margin: 0%;
}

#imagens-snf-q1{
    margin-bottom: 3%;
    padding-right: 1%;
}

#imagens-snf-q2{
  padding-left: 1%;
  margin-bottom: 3%;
}

#imagens-snf-q3{
    padding-right: 1%;
}

#imagens-snf-q4{
    padding-left: 1%;
}

/* [FOOTER]*/
#footer-conteudo{
    padding-top: 2%;
    text-align: center;
}


/* Responsividade */

@media only screen and (min-width: 1400px){   
    #secao-destino-dentro-col{
        justify-content: center;
        float: right;
        max-width: 546px !important;
    }


    #secao-nossa-frota-dentro-col{
        justify-content: center;
        float: left;
        max-width: 546px !important;
    } 
}

@media only screen and (min-width: 1327px){
    #secao-destino-img{
        width: 546px;
        height: 270px;
    }    

    #div-secao-destino-img{
        text-align: center;
    }

        
    #imagens-snf-q1{
       float: right;
    }

    #imagens-snf-q3{
       float: right;
    }

}

@media only screen and (min-width: 1441px){
    #card-parte-introdutoria{
        top: 65%;
        left: 53%;
    }    
    #card-parte-introdutoria-titulo{
        font-size: 2em;
    }

}


@media only screen and (min-width: 2000px){
    #card-parte-introdutoria{
        height: 340px;
    }

    #card-parte-introdutoria-titulo{
        font-size: 2.5em;
    }
    #card-parte-introdutoria-telefone{
        margin-right: 10%;
        padding-top: 0%;
        padding-right: 0%;
        font-size: 1.8em;
    }
}

@media only screen and (min-width: 1301px) and (max-width: 1440.9px){
    #card-parte-introdutoria{
        top: 57%;
        left: 53%;
    }    
    #card-parte-introdutoria-titulo{
        font-size: 2.2em;
    }
}


@media only screen and (min-width: 1201px) and (max-width: 1300px){
    #card-parte-introdutoria{
        top: 52%;
        left: 53%;
    }    
    #card-parte-introdutoria-titulo{
        font-size: 2.2em;
    }

}


@media only screen and (min-width: 1101px) and (max-width: 1200px){
    #card-parte-introdutoria{
        top: 47%;
        left: 53%;
    }    
    #card-parte-introdutoria-titulo{
        font-size: 1.91em;
    }
}

@media only screen and (min-width: 1058px) and (max-width: 1100px){
    #card-parte-introdutoria{
        top: 40%;
        left: 53%;
    } 
   
    #card-parte-introdutoria-titulo{
        font-size: 1.9em;
    }
    
}



@media only screen and (min-width: 1024px) and (max-width: 1057.9px){
    #card-parte-introdutoria{
        top: 40%;
        left: 53%;
    }

    #card-parte-introdutoria-titulo{
        padding-left: 0%;
        padding-right: 0%;
        font-size: 1.85em;
    }
    
    #card-parte-introdutoria-telefone{
        margin-right: 10%;
        font-size: 1.21em;
    }
}



@media only screen and (max-width: 991px) {
    
    .nav-item{
    width: 100% !important;
    height: 30px;
    text-align: center;
    margin: 0%;
    border-right: none;
    /* border-bottom: 1.5px #EBEBEB solid !important; */
    /* border-width: 0.1px; */
    }
    
    .nav-link{
        /* border: red solid;  */
       height: 30px;
       color: white;
       font-size: 1.25em;
       padding: 0%;
       padding-top: 4px;
    }

    .link-ativado{
        color: #1BB4E8;
    } 
    
    .navbar-nav{
        width: 100%;
        border-top: 2px solid #1BB4E8;
        margin: 0%! important;
        padding-top: 2%;
    }

}


@media only screen and (min-width: 576px) and (max-width: 1023.9px){

    #card-parte-introdutoria{
        height: 25%;
        width: 100%;
        opacity: 100%;
        position: relative;
        top: 0%;
        left: 0%;
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 2%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
    }

    #card-parte-introdutoria-titulo{
        padding-top: 2%;
        padding-left: 0%;
        margin-right: 0%;
        font-size: 19px;
        font-weight: 500;
        text-align: center;
        font-style: italic;
        margin-bottom: 1%;
    }

    #card-parte-introdutoria-barco{
        display: none;
    }

    #card-parte-introdutoria-telefone{
        /* border: 1px solid rgb(255, 191, 0); */
        padding-top: 0%;
        padding-bottom: 0%;
        margin-right: 4%;
        font-size: 15px;
        text-align: center;
        font-style: italic;
    }
}

@media only screen and (max-width: 575px) {
    header, main, footer{
        border: none;
        margin: 0%;
    }

    #card-parte-introdutoria{
        height: 30%;
    }

    #secao-nossa-frota{
        margin-bottom: 5%;
    }

    #secao-destino{
        margin-bottom: 5%;
    }
}

@media only screen and (min-width: 425px) and (max-width: 575px){
    #img-barco-principal{
        /* border: red solid; */
        position: relative; 
        width: 100%;
        display: block;
    }

    #card-parte-introdutoria{
        background-color: #21272B;
        color: white;
        opacity: 100%;
        position: relative;
        width: 100%;
        top: 0%;
        left: 0%;
        padding-left: 0%;
        padding-right: 4%;
        margin-right: 0%;
        margin-bottom: 2%;
    }

    #card-parte-introdutoria-titulo{
        padding-top: 2%;
        padding-left: 2%;
        margin-right: 0%;
        font-size: 26px;
        font-weight: 500;
        text-align: center;
        font-style: italic;
        margin-bottom: 1%;
        /* border: #1BB4E8 solid; */
    }

    #card-parte-introdutoria-barco{
        margin-top:30%;
        margin-left: 40%;
    }

    #card-parte-introdutoria-telefone{
        padding-top: 0%;
        padding-bottom: 1.5%;
        padding-right: 0%;
        margin-left: 1%;
        margin-right: 0%;
        font-size: 20px;
        text-align: justify;
        font-style: italic;
    } 

}


@media only screen and (max-width: 425px){
    #img-barco-principal{
        /* border: red solid; */
        position: relative; 
        width: 100%;
        display: block;
    }

    #card-parte-introdutoria{
        background-color: #21272B;
        color: white;
        opacity: 100%;
        position: relative;
        width: 100%;
        top: 0%;
        left: 0%;
        padding-left: 0%;
        padding-right: 0%;
        margin-bottom: 2%;
    }

    #card-parte-introdutoria-titulo{
        /* border: 1px solid aqua; */
        padding-top: 2%;
        padding-left: 2%;
        margin-right: 0%;
        font-size: 20.8px;
        font-weight:500;
        text-align: center;
        font-style: italic;
        margin-bottom: 1%;
        /* border: #1BB4E8 solid; */
    }

    #card-parte-introdutoria-barco{
        /* border: #C6B07F solid; */
        /* border: 1px solid rgb(111, 0, 255); */
        margin-top:30%;
        margin-left: 60%;
    }

    #card-parte-introdutoria-telefone{
        /* border: 1px solid rgb(255, 191, 0); */
        padding-top: 0%;
        margin-right: 2%;
        font-size: 16px;
        text-align: justify;
        font-style: italic;
    }
}

@media only screen and (max-width: 309px) {
    #col-header-brand-foto{
        display: none;
    }
}

@media only screen and (max-width: 243px) { 
    #btn-toggler{
        box-shadow: none;
        background-color: #1BB4E8;
        margin-right: 35%;
        margin-left: 35%;
    }    
}
